@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Danfo&family=Goblin+One&family=Holtwood+One+SC&family=Itim&family=Karantina:wght@300;400;700&family=Kolker+Brush&family=Koulen&family=Lakki+Reddy&family=Luckiest+Guy&family=Madimi+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Monoton&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Sedan+SC&family=Sedgwick+Ave+Display&family=Seymour+One&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Container{
    /* position: absolute; */
    /* display: flex; */
    background-color:#DCEBD8 ;

    /* border: solid red; */
    /* top: 800px; */

}
.img{
    
    max-width: 50%;
    margin-left: 25%;
  
}
.para{
   line-height: 2rem;
    margin-top: 5%;
  font-family: "Merriweather", serif;
  padding: 2%;
   
}
@media (min-width:500px) {
  .para{
   font-size: 1.5rem;
  }
  .img{
    /* border: solid red; */
   
    margin-left: 30%;
  
}
 }
 @media (min-width:1000px) {
   .para{
     font-size: 2rem;
    }
    .Container{
      
      display: flex;
      background-color:#DCEBD8 ;
  
      /* border: solid red; */
      padding: 5%;
  
  }
   .img{
    
    margin-left: 0%;
   }
 }
 @media (min-width:1200px) {
   .para{
     position: relative;
     top: -50px;
    }
   .Container{
    padding: 3%;
   }
 }