@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Danfo&family=Goblin+One&family=Holtwood+One+SC&family=Itim&family=Karantina:wght@300;400;700&family=Kolker+Brush&family=Koulen&family=Lakki+Reddy&family=Luckiest+Guy&family=Madimi+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Monoton&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Sedan+SC&family=Sedgwick+Ave+Display&family=Seymour+One&display=swap');
.container{
    /* margin-top: -30px; */
 background-color: #EFEBD8;
 padding: 5%;
 text-align: center;
  font-family: "Merriweather", serif;;
  font-size: 15px;
}
@media (min-width:500px) {
 .container{
  font-size: 1.5rem;
 }
  
}
@media (min-width:1000px) {
  .container{
    font-size: 2rem;
   }
  
}
@media (min-width:1200px) {
  .container{
    position: relative;
    top: -50px;
   }
  
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
